{# Intro content #}
{% set introHeading = title %}
{% set footerSummary = site.footerSummary %}
{% set metaDescription = description if description else 
  site.shortDesc %}

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml"/>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Inter:wght@300;500;800&display=swap"
      rel="stylesheet"
    />

    {% if site.theme %}
    <style>
      :root {
        --THEME_BACKGROUND: {{site.theme.primary.background}};
        --THEME_COLOR: {{site.theme.primary.text}};
        --THEME_HIGHLIGHT: {{site.theme.primary.highlight}};
        --THEME_HOVER: #7a97ff;
        --COLOR_DARK: #333;
      }

      @media (prefers-color-scheme: dark) {
        :root {
          --THEME_BACKGROUND: #1b1f25;
          --THEME_COLOR: #fff;
          --THEME_HIGHLIGHT: #fff;
          --THEME_HOVER: #7a97ff;
          --COLOR_DARK: #ccc;
        }
      }

      .theme-secondary {
        --THEME_BACKGROUND: {{site.theme.secondary.background}};
        --THEME_COLOR: #425fc7;
        --THEME_HIGHLIGHT: {{site.theme.secondary.highlight}};
      }

      @media (prefers-color-scheme: dark) {
        .theme-secondary {
          --THEME_BACKGROUND: {{site.theme.secondary.background}};
          --THEME_COLOR: #7a97ff;
          --THEME_HIGHLIGHT: {{site.theme.secondary.highlight}};
        }
      }
    </style>
    {% endif %}

    <link rel="stylesheet" href="/css/main.css">

    {% if extra_css %}
      {% for item in extra_css %}
        <link rel="stylesheet" href="{{item}}">
      {% endfor %}
    {% endif %}

    {% include "partials/services/keystone-login-styles.njk" %}

    {% include "partials/global/meta-info.njk" %}
    {% block head %}{% endblock %}

  </head>
  <body>
    <a class="visually-hidden skip-content" href="#main-content">Skip to content</a>
    <div class="l-page">
      {% include "partials/global/site-head.njk" %}
      <main id="main-content" tabindex="-1">
        <div class="l-stack l-stack--large">
          {% block content %}{% endblock content %}
          {% block foot %}
            {% include "partials/global/site-foot.njk" %}
          {% endblock %}
        </div>
      </main>
    </div>
    <script type="text/javascript" src="/js/service-worker.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    {% include "partials/services/keystone-login-scripts.njk" %}
    {% if extra_js %}
      {% for item in extra_js %}
        <script type="text/javascript" src="{{item}}"></script>
      {% endfor %}
    {% endif %}
  </body>
</html>