<div class="theme-secondary theme-color hero">
  <header class="l-container">
    <div class="l-jumbo">
      <h1>{{ introHeading }}</h1>
      {% if introSummary %}
        <div class="l-stack l-measure l-description">{{ introSummary | safe }}</div>
      {% endif %}
    </div>
  </header>
</div>