<footer role="contentinfo">
  <div class="theme-secondary theme-color">
    <div class="l-container">
      <div class="l-site-footer">
        <div class="l-site-footer-split">
          <div class="l-stack">
            <div class="l-site-name l-site-name--footer">
              <div class="l-site-title site-title">{{ site.name }}</div>
            </div>
            {% if site.shortDesc %}
              <p>{{ site.shortDesc }}</p>
            {% endif %}
          </div>
        </div>
        <p class="powered-by">Made by {{site.authorName}} with 11ty and love.</p>
        <p class="email">hello@marceloarias.com</p>
        
        <p class="go-portfolio"><a class="https://marceloarias.com">Back to portfolio</a></p>
      </div>
    </div>
  </div>
</footer>