footer {
  border-top: 0.2rem solid var(--THEME_HOVER);
  margin-top: 5rem !important;
}

.l-site-footer {
  margin-top: 1rem;
  padding: 2rem 0 3rem 0;
}

.l-site-footer-split {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 1.5rem 0;
}

.l-site-footer-split > * {
  flex-grow: 0;
}

.l-site-footer-split > :first-child {
  flex-basis: 100%;
  font-size: $SCALE--1;
  text-align: center;
}

.powered-by {
  text-align: center;
  font-size: $SCALE--1;
}

.email {
  text-align: center;
  font-size: $SCALE--1;
  color: var(--COLOR_DARK);
}

.go-portfolio {
  text-align: center;
  padding-top: 2rem;
}

.call-to-action {
  border: 0.1rem solid var(--THEME_HOVER);
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
  text-decoration: none;
}

