.visually-hidden {
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.skip-content:focus {
  top: 0;
  border: 0;
  clip: unset;
  height: auto;
  margin: 0;
  overflow: visible;
  padding: 0;
  width: auto;
  white-space: wrap;
}

.invert-link {
  text-decoration: none;
}

.invert-link:hover,
.invert-link:focus {
  text-decoration: underline;
}

.theme-bg {
  background: var(--THEME_BACKGROUND, white);
}

.theme-color {
  color: var(--THEME_COLOR, black);
}

.hero {
  border: 0.2rem solid var(--THEME_COLOR, black);
  border-radius: 1.6rem;
  background-size: cover;
}

.hero {
}

@media (prefers-color-scheme: dark) {
  .hero {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .hero {
    animation-name: move-background;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
  }
}

@media (max-width: 800px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    border: 0;
    min-height: 85vh;
  }
}

@keyframes move-background {
  0% {
    background-position: center;
  }
  50% {
    background-position: top;
  }
  100% {
    background-position: center;
  }
}

.theme-hightlight {
  color: var(--THEME_HIGHTLIGHT, yellow);
}
